
body,html {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #807d7d;
  height: 100%;
  width:100%;
  background:#dcdcdc;
  margin:0;
  padding:0;
  position:relative;
  scroll-behavior:smooth;
}


/*PRELOADING------------ */
#overlayer {
width:100%;
height:100%;  
position:absolute;
z-index:1;
background:#8d93ab;
}
.loader {
display: inline-block;
width: 30px;
height: 30px;
position: absolute;
z-index:3;
border: 4px solid #Fff;
top: 50%;
animation: loader 2s infinite ease;
}

.loader-inner {
vertical-align: top;
display: inline-block;
width: 100%;
background-color: #fff;
animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
0% {
  transform: rotate(0deg);
}

25% {
  transform: rotate(180deg);
}

50% {
  transform: rotate(180deg);
}

75% {
  transform: rotate(360deg);
}

100% {
  transform: rotate(360deg);
}
}

@keyframes loader-inner {
0% {
  height: 0%;
}

25% {
  height: 0%;
}

50% {
  height: 100%;
}

75% {
  height: 100%;
}

100% {
  height: 0%;
}
}
  .stop-scrolling {
    height: 100% !important;
    overflow: hidden !important;
    }

.container-fluid{
  padding-left: 0;
}

hr{
  width: 5%;
  border-style: dotted;
  border-top: 1px;
  border-width: 8px;
  border-color: #807d7d;
}
/* first section */
#title {
 background-image: url(../images/typing-code.jpg);
 background-attachment: fixed;
 background-size: cover;
 padding: 7% 15% 0;
}

.header-title{
  margin: 100px 0;
  color: #fff;
}

.overlay{
  background-color: black;
}

/* Headings */
.big-heading{
  font-size: 4.5rem;
  font-weight: bolder;
}

.sub-heading{
  margin-bottom: 40px;
}

.section-title{
  font-size: 3rem;
  margin-top: 80px;
  letter-spacing: 2px;
}

/* nav bar */

#navigbar {
  background-color:  #d6e0f0;
  position: fixed;
  left: 33%;
  top: -60px;
  display: block;
  transition: top 0.3s;
  z-index: 100;
}

#navigbar a {
  float: left;
  display: block;
  color: #807d7d;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navigbar a:hover {
  background-color:  #bec7d4;
  color: black;
  transition: .5s;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navibar-nav {
 margin: 0 auto;
 position: relative;
 top: 40px;
}

.nav-item{
  background-color: #d6e0f0;
  padding: 10px;
}

.nav-item:hover{
  background-color: #bec7d4;
  transition: .5s;
}

.nav-item:active{
  background-color: #c5d3e7;
}
/* Profile Section */

#profile{
  padding: 1% 13% 5%;
}

.profile-heading{
  font-size: 2.1rem;
  margin-top: 30px;
  text-align: left;
}

.profile-para{
  font-size: 1.3rem;
  margin-top: 30px;
  line-height: 1.5;
  text-align: justify;
}

.my-image{
  width: 70%;
  margin: 40px auto 0px;
}

.icon-text{
  font-size: 1.1rem;
  margin-left: 20px;
}

.mar{
  margin-right: 6px;
}



/* Education Section */

#education{
  background-color: #d6e0f0;
  padding: .5% 13% 5%;
}

.edu-img{
  width: 100%;
}

.educ-text{
  text-align: left;
  margin-top: 3.5%;
}

.educ-texts{
  text-align: right;
  margin-top: 3.5%;
}

.edu-row{
  margin: 30px 0;
}

/* Work Experience */

#work{
  padding: 1% 13% 8%;
}

.work-row{
  margin-top: 6%;
  text-align: left;
}

/* Skill Section */

#skills{
  background-color: #8d93ab;
  color: #fff;
  padding: 1% 13% 5%;
}

#skills hr{
  border-color: #fff;
}

.skills-row{
  margin-top: 5%;
  text-align: left;
}

/* Project Section */

#projects {
  padding: 0 0 5%;
}

#projectCarousel{
  width: 80%;
  margin: 0 auto;
}

.portfolio-img{
  margin: 0 auto;
  width: 50%;
}

.logobiz {
  padding: 5% 10%;
}

.other-project{
  margin-top: 5%;
}

/* Button */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color:#fff;
  cursor: pointer;
  border-radius: 10%;
  background-color: #7f87a8;
  transition: .5s;
  padding: 10px;
}

#myBtn:hover {
  background-color: #555;
}

/* Responsive Screen */

@media (max-width: 1416px){

  /* Navbar */

  #navigbar {
  
  left: 25%;
 
  }




  /* Profile */

  .icon-text{
  font-size: 50%;
  }

 
}

@media (max-width: 800px){

  /* NavBar */

  #navigbar {
  
    left: 21%;
   
    }
  
  #navigbar a {
  
    font-size: 15px;
  }
  
  .nav-item{
    font-size: .8rem;
    padding: 5px;
  }

  /* Profile */

  .icon-text{
  font-size: .6em;
  }

  /* Education Section */
  .edu-img{
    width: 40%;
  }

  .educ-text{
    text-align: center;
  }

  .educ-texts{
    text-align: center;
   
  }

  /* Work Exp */

  .work-row{
    text-align: justify center;
    border-left: 1px solid  #8d93ab;
  }
  
  .work-row h4{
    font-size: 1.3rem;
  }

  .work-row h5{
    font-size: 1.1rem;
  }

  /* Skills Section */

  .skill-mt{
    margin-top: 5%;
  }

}

@media (max-width: 414px){

  /* NavBar */

  #navigbar {
  
    left: 5%;
   
    }
  
  #navigbar a {
    padding: 12px;
    text-decoration: none;
    font-size: 10px;
  }

  .nav-item{
    position: relative;
    right: 30px;
  }

  #title {
    padding: 1% 10% 0;
   }

  .header-title {
    margin-top: 150px;
    margin-bottom: 0;
  }

  /* Headings */
  .big-heading {
    font-size: 2.5rem;
  }

  .sub-heading{
    font-size: 1rem;
  }

  .section-title{
    font-size: 2rem;
  }

  .profile-heading{
    font-size: 1.5rem;
    text-align: center;
  }

  .profile-para{
    font-size: 1.2rem;
    text-align: center;
  }

  .nav-item{
    font-size: .6rem;
    padding: 5px;
  }

  /* Profile Section */
  .icon-text{
    font-size: .7rem;
  }

  /* Education Section */

  .educ-text{
    text-align: center;
    font-size: .9rem;
  }

  .educ-text h3{
    font-size: 1.3rem;
  }

  .educ-texts{
    text-align: center;
    font-size: .9rem;
  }

  .educ-texts h3{
    font-size: 1.3rem;
  }

  /* Skills Section */

  #skills{
  padding: 3% 0;
  margin: 0;
  }

  .fa-star{
    font-size: .8rem;
  }

  .row{
    margin-left: 0;
  }


}


