body,
html {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #807d7d;
  height: 100%;
  width: 100%;
  background: #dcdcdc;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

/*PRELOADING------------ */
#overlayer {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: #8d93ab;
}
.loader {
  display: inline-block;
  width: 60px;
  height: 40px;
  position: absolute;
  z-index: 3;
  border: 4px solid #fff;
  top: 50%;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

.jod {
  vertical-align: center;
  color: #8d93ab;
  font-weight: 600;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
.stop-scrolling {
  height: 100% !important;
  overflow: hidden !important;
}

.container-fluid {
  padding-left: 0;
}

hr {
  width: 5%;
  border-style: dotted;
  border-top: 1px;
  border-width: 8px;
  border-color: #807d7d;
  margin: 0 auto;
}
/* first section */
#title {
  background-image: url(../images/typing-code.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding: 7% 15% 0;
}

.header-title {
  margin: 100px 0;
  color: #fff;
}

.overlay {
  background-color: black;
}

/* Headings */
.big-heading {
  font-size: 4.5rem;
  font-weight: bolder;
}

.sub-heading {
  margin-bottom: 40px;
}

.section-title {
  font-size: 3rem;
  margin-top: 80px;
  letter-spacing: 2px;
}

/* nav bar */

#navigbar {
  background-color: #d6e0f0;
  transition: top 0.3s;
  -webkit-box-shadow: 0px 6px 15px 3px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 6px 15px 3px rgba(0, 0, 0, 0.52);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  z-index: 1;
}

#navigbar a {
  float: left;
  display: block;
  color: #807d7d;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navigmobile {
  background-color: #d6e0f0;
  transition: top 0.3s;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.52);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  z-index: 1;
  left: 5%;;
}

#navigmobile a{
  display: block;
  color: #807d7d;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}


#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navibar-nav {
  margin: 0 auto;
  position: relative;
  top: 40px;
  -webkit-box-shadow: 0px 6px 15px 3px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 6px 15px 3px rgba(0, 0, 0, 0.52);
}

.nav-item {
  background-color: #d6e0f0;
  padding: 10px;
}

.nav-item:hover {
  background-color: #bec7d4;
  transition: 0.5s;
}

.nav-item:active {
  background-color: #c5d3e7;
}
/* Profile Section */

#profile {
  padding: 1% 13% 5%;
}

.profile-heading {
  font-size: 2.1rem;
  margin-top: 30px;
  text-align: left;
}

.profile-para {
  font-size: 1.3rem;
  margin-top: 30px;
  line-height: 1.5;
  text-align: justify;
}

.my-image {
  width: 70%;
  margin: 40px auto 0px;
}

.icon-text {
  font-size: 1.1rem;
  margin-left: 20px;
}

.mar {
  margin-right: 6px;
}

/* Education Section */

#education {
  background-color: #d6e0f0;
  padding: 0.5% 13% 5%;
}

.edu-img {
  width: 100%;
}

.educ-text {
  text-align: left;
  margin-top: 3.5%;
}

.educ-texts {
  text-align: right;
  margin-top: 3.5%;
}

.edu-row {
  margin: 30px 0;
}

/* Work Experience */

#work {
  padding: 1% 13% 8%;
}

.work-row {
  margin-top: 6%;
  text-align: left;
}

/* Skill Section */

#skills {
  background-color: #8d93ab;
  color: #fff;
  padding: 1% 13% 5%;
}

#skills hr {
  border-color: #fff;
}

.skills-row {
  margin-top: 5%;
  text-align: left;
}

/* Project Section */
img {
  border: 0;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 560px;
}

.gallery {
  padding: 1% 0% 5%;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, -webkit-max-content);
  grid-auto-rows: minmax(200px, max-content);
  grid-auto-flow: dense;
  gap: 10px;
  margin-top: 40px;
  padding: 10px;
}

.gallery-item img {
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery-item-text {
  display: none;
}

/* Lightbox */

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  z-index: 102;
}

/* .preload will be removed by JS code during DOMContentLoaded event. */
.lightbox.preload {
  transition: none !important;
}

.lightbox.open {
  opacity: 1;
  pointer-events: auto;
}

.lightbox .lb-content {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  max-height: 90%;
  max-width: 70%;
  padding: 1rem;
  position: relative;
}

.lightbox .lb-img {
  -o-object-fit: contain;
  object-fit: contain;
  margin-bottom: 8px;
  display: block;
  width: 70%;
  height: auto;
}

.lightbox .lb-caption {
  color: #333;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  max-width: 50ch;
  overflow-y: auto; /* may occur in smartphones */
  opacity: 0;
  transition: opacity 0.3s;
  text-align: justify;
}

.lightbox.open .lb-caption {
  opacity: 1;
}

.lightbox .lb-url {
  color: #005fa9;
  text-decoration: underline;
  text-underline-position: under;
  padding-top: 8px;
  padding-bottom: 14px;
}

.lightbox .close {
  background-color: lightgray;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  line-height: 1em;
  text-align: center;
  position: absolute;
  top: -0.4em;
  right: -0.8em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  z-index: -1;
}

/* Lightbox overlay */
.lightbox .close::before {
  background-color: rgba(0, 0, 0, 0.9);
  content: "";
  cursor: default;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Footer */

.footer-text {
  bottom: 5px;
  position: relative;
}

/* Responsive Screen */

@media only screen and (max-width: 740px) and (min-width: 360px) {
  

  /* NavBar */

  .navibar-nav {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.52);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.52);
  }

  .navbar{
    width: 100%;
  }

  #navigbar a {
    padding: 12px;
    text-decoration: none;
    font-size: 10px;
  }

  .nav-item {
    position: relative;
   
  }

  

  #title {
    padding: 1% 10% 0;
  }

  .header-title {
    margin-top: 150px;
    margin-bottom: 0;
  }

  /* Headings */
  .big-heading {
    font-size: 2.5rem;
  }

  .sub-heading {
    font-size: 1rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .profile-heading {
    font-size: 1.5rem;
    text-align: center;
  }

  .profile-para {
    font-size: 1.2rem;
    text-align: center;
  }

  .nav-item {
    font-size: 0.6rem;
    padding: 5px;
  }

  /* Profile Section */
  .icon-text {
    font-size: 0.7rem;
  }

  /* Education Section */

  .educ-text {
    text-align: center;
    font-size: 0.9rem;
  }

  .edu-img {
    margin: 0 auto;
    width: 50%;
  }

  .educ-text h3 {
    font-size: 1.3rem;
  }

  .educ-texts {
    text-align: center;
    font-size: 0.9rem;
  }

  .educ-texts h3 {
    font-size: 1.3rem;
  }

  /* Skills Section */

  #skills {
    padding: 3% 0;
    margin: 0;
  }

  .fa-star {
    font-size: 0.8rem;
  }

  .row {
    margin-left: 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) and (min-width: 1024px) {
  .container {
    max-width: 720px;
  }
  .lightbox .lb-caption {
    font-size: 1rem;
  }


  .edu-img {
    margin: 0 auto;
  }

  /* NavBar */


  #navigbar a {
    font-size: 12px;
  }

  .nav-item {
    font-size: 0.8rem;
    padding: 5px;
  }

  /* Profile */

  .icon-text {
    font-size: 0.6em;
  }

  /* Education Section */
  .edu-img {
    width: 40%;
  }

  .educ-text {
    text-align: center;
  }

  .educ-texts {
    text-align: center;
  }

  /* Work Exp */

  .work-row {
    text-align: justify center;
    border-left: 1px solid #8d93ab;
  }

  .work-row h4 {
    font-size: 1.3rem;
  }

  .work-row h5 {
    font-size: 1.1rem;
  }

  /* Skills Section */

  .skill-mt {
    margin-top: 5%;
  }
}

/* Large devices (laptops/desktops, 1024px and up) */
@media screen and (min-width: 1440px) {
  
 

  .container {
    max-width: 960px;
  }
  .lightbox .lb-content {
    flex-direction: row;
  }

  .lightbox .lb-img {
    margin-bottom: 0;
  }

  .lightbox .lb-caption {
    padding: 0 1.5em;
  }
  .lightbox .lb-url {
    padding-top: 0;
  }
}

/* Small devices (mobile phones , 375px and below) */
@media screen and (max-width: 375px) {
  
  .navbar {
    left: 43% !important;
}
 
}

/* medium devices (mobile phones , 375px and below) */
@media screen and (min-width: 768px) and (max-width: 1280px){
  
  #navigbar a {
    
    font-size: 10px;
  }

  .edu-img {
    width: 15vh;
}

}
/* slide fade contents
/* reveal from bottom */
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
